{% extends "layout.html" %}
{% block title %} View {% endblock %}

{% block body %}

<div class="container">
  <div class="row-fluid">
    <div class="col-md-4" style="text-align: center;" >
      <img src="{{ x.artwork }}" width="256px">
    </div>
    <div class="col-md8">
      <h3>
        {{ x.title }}
        {% if g.user.id == x.user_id %}
          <a href="/new?id={{ x.id }}" class="btn btn-default">Edit</a>
        {% endif %}
      </h3>
      by <strong>{{ x.artist }}</strong> on <strong>{{ x.album }}</strong> ({{ x.year }})
      <br><br>
      {% for t in x.tags %}
        <button class="btn btn-primary btn-xs">{{ t }}</button>
      {% endfor %}
      <br><br>
      Guitar {{ '\u2714' if x.tr_guitar else '\u2718'}}
      Bass {{ '\u2714' if x.tr_bass else '\u2718'}}
      Vocal {{ '\u2714' if x.tr_vocal else '\u2718'}}
      (Tuning {{ x.tuning }})
      <br><br>
      Last updated by <strong>{{ x.dlc_creator }}</strong> on {{ x.last_update.strftime('%B %d, %Y') }}
      <br><br>
      {% if x.url_pc %}
        <a href="{{ x.url_pc }}" class="url btn btn-success">Win</a>
      {% else %}
        <a class="url btn btn-success" disabled="disabled">Win</a>
      {% endif %}
      {% if x.url_mac %}
        <a href="{{ x.url_mac }}" class="url btn btn-success" >Mac</a>
      {% else %}
        <a class="url btn btn-success" disabled="disabled">Mac</a>
      {% endif %}
      {% if x.url_xbox %}
        <a href="{{ x.url_xbox }}" class="url btn btn-success">Xbox</a>
      {% else %}
        <a class="url btn btn-success" disabled="disabled">Xbox</a>
      {% endif %}
      {% if x.url_ps3 %}
        <a href="{{ x.url_ps3 }}" class="url btn btn-success">PS3</a>
      {% else %}
        <a class="url btn btn-success" disabled="disabled">PS3</a>
      {% endif %}
    </div>
  </div>
</div>


<style>
.url {
  width: 70px;
}

.review {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(245, 245, 245);
  border-color: rgb(221, 221, 221);
  border-width: 1px;
  border-style: solid;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.addsomepad {
 margin-top: 30px;
}

span.reviewer {
  font-size: 24px;
}

.grade {
  font-size: 32px;
  color: green;
}

p.review_text {
  margin-top: 10px;
  margin-left: 10px;
}
</style>

<div class="addsomepad container">
  <h3>Reviews</h3>
  {% for r in reviews %}
  <div class="review">
    <span class="grade">{{r.score}}%</span>
    <!-- by <span class="reviewer">{{r.pretty_name}}</span> -->
    on {{ r.date.strftime('%B %d, %Y') }}
    <p class="review_text">{{ r.content }}</p>
  </div>
  {% endfor %}
</div>

<div class="container">
  <h3>Post a new review</h3>
  <p class="alert alert-warning">This will overwrite your previous review.</p>
  <form role="form" class="newreview" method=post>
    <input type="hidden" name="id" value="{{ x.id }}">
    <div class="form-group">
      <label for="score" class="control-label">Your score (from 0 to 100)</label>
      <input type="number" min=0 max=100 step=1 class="form-control" name="score" style="width:75px" value=50>
    </div>
    <div class="form-group">
      <label for="newreview_text" class="control-label">Your comments</label>
      <textarea type="text" min=0 max=100 class="form-control" name="newreview_text" value="" placeholder="Type your review here" rows=8></textarea>
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
  </form>
</div>

{% endblock %}
