{% extends "layout.html" %}
{% block title %} {{request.endpoint}} {% endblock %}

{% block body %}

<!-- <h2>{{ self.title() }}</h2> -->

{% if g.user %}
  {% if request.endpoint == 'user_timeline' %}
    <div class=followstatus>
      {% if g.user.user_id == profile_user.user_id %}
        This is you!
      {% elif followed %}
        You are currently following this user.
        <a class=unfollow href="{{ url_for('unfollow_user', username=profile_user.username)}}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class=follow href="{{ url_for('follow_user', username=profile_user.username)}}">Follow user</a>.
      {% endif %}
    </div>
  {% elif request.endpoint == 'home' %}
    <!-- <h3>Welcome back, {{ g.user.username }}!</h3> -->
    <div class="container">
      <h3>Create a new custom</h3>
      <form role="form" class=form-inline action="{{ url_for('newdlc') }}">
      <div class="form-group">
            <input class="form-control" placeholder="example: http://www.last.fm/music/Michael+Jackson/Thriller/Beat+It" name="lastfm" type="text" size="100" value="">
            </div>
            <button class="btn btn-default" type="submit">Go</button>
      </form>
    </div>
  {% endif %}
{% endif %}

{% endblock %}
